[Unit]
Description=Register Jenkins CI master service instance %i in SkyDNS and Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=jenkins-master@%i.service
After=jenkins-master@%i.service

[Service]
EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata
EnvironmentFile=/tmp/jenkins_master_env_%i

ExecStart=/usr/bin/bash -c "\
    while true; do \
        curl -f ${SERVICE_ADDRESS}; \
        if [ $? -ne 7 ]; then \
            etcdctl set /skydns/${GAINMASTER_SKYDNS_DOMAIN_PATH}/ci/node '{\"host\": \"http.service.${GAINMASTER_DOMAIN}\"}' --ttl 30; \
            etcdctl set /vulcand/frontends/jenkins-master/frontend '{\"Type\": \"http\", \"BackendId\": \"jenkins-master\", \"Route\": \"Host(`ci.${GAINMASTER_DOMAIN}`)\"}' --ttl 30; \
            etcdctl set /vulcand/backends/jenkins-master/backend '{\"Type\": \"http\"}' --ttl 30; \
            etcdctl set /vulcand/backends/jenkins-master/servers/%i '{\"URL\": \"${SERVICE_ADDRESS}\"}' --ttl 30; \
        else \
            etcdctl rm /vulcand/backends/jenkins-master/servers/%i; \
        fi; \
        sleep 20; \
    done"

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/jenkins-master/servers/%i; \
    rm /tmp/jenkins_master_env_%i"

[X-Fleet]
MachineOf=jenkins-master@%i.service
