[Unit]
Description=Registers node in SkyDNS

Requires=etcd.service
After=etcd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

ExecStart=/usr/bin/etcdctl set /skydns/im/hesjevik/nodes/%H '{"host":"${PUBLIC_IPV4}"}'
ExecStop=/usr/bin/etcdctl rm /skydns/im/hesjevik/nodes/%H

[X-Fleet]
Global=true