[Unit]
Description=Register Gainmaster Account Service service id %i to Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-account-service@%i.service
After=gainmaster-account-service@%i.service

[Service]
EnvironmentFile=/etc/metadata
EnvironmentFile=/tmp/gainmaster_account_service_env
RemainAfterExit=yes

# Start
ExecStart=/usr/bin/etcdctl set /vulcand/backends/gainmaster-account-service/servers/%i '{"URL": "${SERVICE_ADDRESS}"}'

ExecStartPost=/usr/bin/etcdctl set /vulcand/backends/jenkins/backend '{"Type": "http"}'
ExecStartPost=/usr/bin/etcdctl set /vulcand/frontends/jenkins/frontend '{"Type": "http", "BackendId": "gainmaster-account-service", "Route": "Host(`api.hesjevik.im`) && PathRegexp(`/accounts/.*`)"}'

# Stop
ExecStop=/bin/etcdctl rm /vulcand/backends/gainmaster-account-service/servers/%i 

[X-Fleet]
MachineOf=gainmaster-account-service@%i.service