[Unit]
Description=Register gainmaster frontend

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-frontend-angular@%i.service
After=gainmaster-frontend-angular@%i.service

BindsTo=gainmaster-frontend-nginx@%i.service
After=gainmaste-frontendr-nginx@%i.service

[Service]
EnvironmentFile=/etc/metadata
EnvironmentFile=/tmp/gainmaster_frontend_env
RemainAfterExit=yes

# Start
ExecStart=/usr/bin/etcdctl set /vulcand/backends/gainmaster/servers/gainmaster-nginx-%i '{"URL": "${NGINX_ADDRESS}"}'

ExecStartPost=/usr/bin/etcdctl set /vulcand/backends/gainmaster/backend '{"Type": "http"}'
ExecStartPost=/usr/bin/etcdctl set /vulcand/frontends/gainmaster/frontend '{"Type": "http", "BackendId": "gainmaster", "Route": "Path(`/`) && Host(`http.services.hesjevik.im`)"}'

#Stop
ExecStop=/bin/etcdctl rm /vulcand/backends/gainmaster/servers/gainmaster-nginx-%i

ExecStopPost=/usr/bin/bash -c "\
  NGINX_STATUS=curl -s -I hesjevik.im | grep HTTP | awk {'print $2'} \
  if [ $NGINX_STATUS -ne 200 ]; then \
      /usr/bin/etcdctl rm /vulcand/backends/gainmaster/backend --recursive; \
      /usr/bin/etcdctl rm /vulcand/frontends/gainmaster/frontend --recursive; \
  fi "

[X-Fleet]
MachineOf=gainmaster-frontend-angular@%i.service
MachineOf=gainmaster-frontend-nginx@%i.service
