[Unit]
Description=nginx service ID %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=gainmaster-frontend-registrator@%i.service
Before=gainmaster-frontend-registrator@%i.service

BindsTo=gainmaster-angular@%i.service
After=gainmaster-angular@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill gainmaster-nginx.%i
ExecStartPre=-/usr/bin/docker rm gainmaster-nginx.%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/nginx

ExecStart=/usr/bin/docker run -rm --name gainmaster-nginx.%i \
  --volumes-from angularjs \
  -p ${PRIVATE_IP}::80 \
  -e SERVICE_NAME=gainmaster-nginx \
  -e SERVICE_ID=%i \
  bachelorthesis/nginx
  
ExecStartPost=/usr/bin/bash -c '\
  until (/usr/bin/etcdctl get /registrator/gainmaster-nginx/%i); do \
    sleep 3; \
  done; \
  echo NGINX_ADDRESS=http://$(/usr/bin/etcdctl get /registrator/gainmaster-nginx/%i) > /tmp/gainmaster_frontend_env'

ExecStop=/usr/bin/docker stop gainmaster-nginx.%i

[X-Fleet]
Conflicts=gainmaster-nginx@*.service