[Unit]
Description=AngularJS service for Gainmaster frontend id %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=gainmaster-frontend-nginx@%i.service
Before=gainmaster-frontend-nginx@%i.service

Requires=gainmaster-frontend-registrator@%i.service
Before=gainmaster-frontend-registrator@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill gainmaster-frontend-angular.%i
ExecStartPre=-/usr/bin/docker rm gainmaster-frontend-angular.%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/angularjs

#Start
ExecStart=/usr/bin/docker run -rm --name gainmaster-frontend-angular.%i \
  -v /tmp/gainmaster/dist \
  bachelorthesis/angularjs  

#Stop
ExecStop=/usr/bin/docker stop gainmaster-frontend-angular.%i

[X-Fleet]
Conflicts=gainmaster-frontend-angular@*.service
