[Unit]
Description=Vulcand service

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=vulcand-registrator@%i.service
Before=vulcand-registrator@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill vulcand
ExecStartPre=-/usr/bin/docker rm vulcand
ExecStartPre=/usr/bin/docker pull bachelorthesis/vulcand

ExecStart=/usr/bin/docker run --rm --name vulcand \
  -p 80:80 \
  bachelorthesis/vulcand \
  -port=80 \
  --etcd=http://${PRIVATE_IPV4}:4001

ExecStop=/usr/bin/docker stop vulcand

[X-Fleet]
Conflicts=vulcand@*.service
