[Unit]
Description=Register Vulcand HTTP service id %i in SkyDNS

Requires=etcd.service
After=etcd.service

BindsTo=vulcand@%i.service
After=vulcand@%i.service

[Service]
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

ExecStart=/usr/bin/etcdctl set /skydns/im/hesjevik/services/http/vulcand-%i '{"Host": "${PUBLIC_IPV4}"}'
ExecStop=/usr/bin/etcdctl rm /skydns/im/hesjevik/services/http/vulcand-%i"

[X-Fleet]
MachineOf=vulcand@%i.service