[Unit]
Description=nginx service for gainmaster-webclient id %i
Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

BindsTo=gainmaster-webclient-angular@%i.service
After=gainmaster-webclient-angular@%i.service

Requires=gainmaster-webclient-registrator@%i.service
Before=gainmaster-webclient-registrator@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill gainmaster-webclient-nginx.%i
ExecStartPre=-/usr/bin/docker rm gainmaster-webclient-nginx.%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/nginx

ExecStart=/usr/bin/docker run -rm --name gainmaster-webclient-nginx.%i \
  --volumes-from gainmaster-webclient-angular.%i \
  -p ${PRIVATE_IPV4}::80 \
  -e SERVICE_NAME=gainmaster-webclient-nginx \
  -e SERVICE_ID=%i \
  bachelorthesis/nginx
  
ExecStartPost=/usr/bin/bash -c '\
  until (/usr/bin/etcdctl get /registrator/gainmaster-webclient-nginx/%i); do \
    sleep 3; \
  done; \
  echo NGINX_ADDRESS=http://$(/usr/bin/etcdctl get /registrator/gainmaster-webclient-nginx/%i) > /tmp/gainmaster_webclient_env'

ExecStop=/usr/bin/docker stop gainmaster-webclient-nginx.%i

[X-Fleet]
Conflicts=gainmaster-webclient-nginx@*.service
MachineOf=gainmaster-webclient-angular@%i.service
