[Unit]
Description=Register gainmaster-webclient

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-webclient-angular@%i.service
After=gainmaster-webclient-angular@%i.service

BindsTo=gainmaster-webclient-nginx@%i.service
After=gainmaste-webclient-nginx@%i.service

[Service]
EnvironmentFile=/etc/metadata
EnvironmentFile=/tmp/gainmaster_webclient_env
RemainAfterExit=yes

# Start
ExecStart=/usr/bin/etcdctl set /vulcand/backends/gainmaster-webclient/servers/nginx-%i '{"URL": "${NGINX_ADDRESS}"}'

ExecStartPost=/usr/bin/etcdctl set /vulcand/backends/gainmaster-webclient/backend '{"Type": "http"}'
ExecStartPost=/usr/bin/etcdctl set /vulcand/frontends/gainmaster-webclient/frontend '{"Type": "http", "BackendId": "gainmaster-webclient", "Route": "Path(`/`) && Host(`www.hesjevik.im`)"}'

#Stop
ExecStop=/bin/etcdctl rm /vulcand/backends/gainmaster-webclient/servers/nginx-%i

ExecStopPost=/usr/bin/bash -c '\
  NGINX_STATUS=$(curl -f -s -I www.hesjevik.im | grep HTTP/1.1); \
  if [ -z "$NGINX_STATUS" ]; then \
      /usr/bin/etcdctl rm /vulcand/backends/gainmaster-webclient --recursive; \
      /usr/bin/etcdctl rm /vulcand/frontends/gainmaster-webclient --recursive; \
  fi '

[X-Fleet]
MachineOf=gainmaster-webclient-angular@%i.service
MachineOf=gainmaster-webclient-nginx@%i.service
