[Unit]
Description=Register Gainmaster OAuth Service instance %i to Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-oauth-service@%i.service
After=gainmaster-oauth-service@%i.service

[Service]
EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata
EnvironmentFile=/tmp/gainmaster_oauth_service_env_%i

ExecStart=/usr/bin/bash -c "\
    while true; do \
        curl -f ${SERVICE_ADDRESS}; \
        if [ $? -ne 7 ]; then \
            etcdctl set /vulcand/backends/gainmaster-oauth-service/servers/%i '{\"URL\": \"${SERVICE_ADDRESS}\"}' --ttl 30; \
            etcdctl set /vulcand/backends/gainmaster-oauth-service/backend '{\"Type\": \"http\"}' --ttl 30; \
            etcdctl set /vulcand/frontends/gainmaster-oauth-service/frontend '{\"Type\": \"http\", \"BackendId\": \"gainmaster-oauth-service\", \"Route\": \"Host(`api.${GAINMASTER_DOMAIN}`) && PathRegexp(`/oauth(.*)`)\"}' --ttl 30; \
        else \
            etcdctl rm /vulcand/backends/gainmaster-oauth-service/servers/%i; \
            SERVICE_INSTANCES=$(etcdctl ls /vulcand/backends/gainmaster-oauth-service/servers | wc -l); \
            if [ $SERVICE_INSTANCES -eq 0 ]; then \
                etcdctl rm /vulcand/frontends/gainmaster-oauth-service/frontend; \
                etcdctl rm /vulcand/backends/gainmaster-oauth-service/backend; \
                etcdctl rm /vulcand/backends/gainmaster-oauth-service/servers --recursive; \
            fi; \
        fi; \
        sleep 20; \
    done"

ExecStop=etcdctl rm /vulcand/backends/gainmaster-oauth-service/servers/%i

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/gainmaster-oauth-service/servers/%i; \
    rm /tmp/gainmaster_oauth_service_env_%i;"

[X-Fleet]
MachineOf=gainmaster-oauth-service@%i.service

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/gainmaster-body-measurement-service/servers/%i; \
    SERVICE_INSTANCES=$(etcdctl ls /vulcand/backends/gainmaster-oauth-service/servers | wc -l); \
    if [ $SERVICE_INSTANCES -eq 0 ]; then \
        etcdctl rm /vulcand/frontends/gainmaster-oauth-service/frontend; \
        etcdctl rm /vulcand/backends/gainmaster-oauth-service/backend; \
        etcdctl rm /vulcand/backends/gainmaster-oauth-service/servers --recursive; \
    fi; \
    rm /tmp/gainmaster_body_measurement_service_env_%i;"
