[Unit]
Description=SkyDNS service

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=skydns-ns2-registrator.service
After=skydns-ns2-registrator.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata

ExecStartPre=-/usr/bin/docker kill skydns-ns2
ExecStartPre=-/usr/bin/docker rm skydns-ns2
ExecStartPre=/usr/bin/docker pull skynetservices/skydns

ExecStart=/usr/bin/docker run --rm \
    --name skydns-ns2 \
    --env ETCD_MACHINES=http://${PRIVATE_IPV4}:4001 \
    --env SKYDNS_ADDR=0.0.0.0:53 \
    --env SKYDNS_DOMAIN=${GAINMASTER_DOMAIN} \
    --env SKYDNS_NAMESERVERS= \
    --env SERVICE_NAME=skydns \
    --env SERVICE_ID=ns2 \
    --publish 53:53/udp \
    --publish 53:53/tcp \
    --dns=127.0.0.1 \
    skynetservices/skydns

ExecStop=/usr/bin/docker stop skydns-ns2

[X-Fleet]
MachineMetadata=name=coreos2
