[Unit]
Description=Register DNS namserver 1 in SkyDNS

Requires=etcd.service
After=etcd.service

[Service]
EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata

ExecStart=/usr/bin/bash -c "\
    while true; do \
        etcdctl set /skydns/${GAINMASTER_SKYDNS_DOMAIN_PATH}/dns/ns '{\"host\": \"${PUBLIC_IPV4}\"}' --ttl 30; \
        sleep 20; \
    done"

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /skydns/${GAINMASTER_SKYDNS_DOMAIN_PATH}/dns/ns; \
    etcdctl rm /registrator/skydns/ns1"

[X-Fleet]
MachineMetadata=name=coreos1