[Unit]
Description=nginx service on port %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill nginx.%i
ExecStartPre=-/usr/bin/docker rm nginx.%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/nginx

ExecStart=/usr/bin/docker run -rm --name nginx.%i \
     -p ${PUBLIC_IPV4}:%i:80 bachelorthesis/nginx

ExecStop=/usr/bin/docker stop nginx.%i

[X-Fleet]
Conflicts=nginx@*.service
