[Unit]
Description=Register for nginx
BindsTo=nginx@.service
After=nginx@.service

[Service]
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

ExecStart=/bin/sh -c " \
	/bin/etcdctl set /vulcand/backends/nginx/backend '{"Type": "http"}'; \
	/bin/etcdctl set --ttl 5 /vulcand/backends/nginx/servers/nginx-%i '{"URL": "http://${PUBLIC_IPV4}:%i"}'; \
  	/bin/etcdctl set /vulcand/frontends/nginx/frontend '{"Type": "http", "BackendId": "nginx", "Route": "Path(`/`)"}' "

[X-Fleet]
X-ConditionMachineOf=nginx@.service
