[Unit]
Description=Register nginx at port %i
BindsTo=nginx@%i.service
After=nginx@%i.service

[Service]
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

ExecStart=/usr/bin/bash -c \
	"/bin/etcdctl set /vulcand/backends/nginx/backend '{\"Type\":\"http\"}'; \
	 /bin/etcdctl set --ttl 5 /vulcand/backends/nginx/servers/nginx-%i '{\"URL\": \"http://${PUBLIC_IPV4}:%i\"}'; \
	 /bin/etcdctl set /vulcand/frontends/nginx/frontend '{\"Type\": \"http\", \"BackendId\": \"nginx\", \"Route\": \"Path(`/`)\"}'"

[X-Fleet]
MachineOf=nginx@%i.service