[Unit]
Description=Gainmaster Body Measurement Service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=gainmaster-body-measurement-service-vulcand-registrator@%i.service
Before=gainmaster-body-measurement-service-vulcand-registrator@%i.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata

ExecStartPre=-/usr/bin/docker kill gainmaster-body-measurement-service-%i
ExecStartPre=-/usr/bin/docker rm gainmaster-body-measurement-service-%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/gainmaster-body-measurement-service

ExecStart=/usr/bin/docker run --rm \
  --name gainmaster-body-measurement-service-%i \
  --env SERVICE_NAME=gainmaster-body-measurement-service \
  --env SERVICE_ID=%i \
  --publish ${PRIVATE_IPV4}::8080 \
  bachelorthesis/gainmaster-body-measurement-service

ExecStartPost=/usr/bin/bash -c '\
  until (etcdctl get /registrator/gainmaster-body-measurement-service/%i); do \
    sleep 3; \
  done; \
  echo SERVICE_ADDRESS=http://$(etcdctl get /registrator/gainmaster-body-measurement-service/%i) > /tmp/gainmaster_body_measurement_service_env_%i'

ExecStop=/usr/bin/docker stop gainmaster-body-measurement-service-%i

[X-Fleet]
Conflicts=gainmaster-body-measurement-service@*.service
