[Unit]
Description=Register Gainmaster Body Measurement Service instance %i to Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-body-measurement-service@%i.service
After=gainmaster-body-measurement-service@%i.service

[Service]
EnvironmentFile=/etc/metadata
EnvironmentFile=/tmp/gainmaster_body_measurement_service_env_%i

ExecStart=/usr/bin/bash -c "\
    while true; do \
        curl -f ${SERVICE_ADDRESS}; \
        if [ $? -ne 7 ]; then \
            etcdctl set /vulcand/backends/gainmaster-body-measurement-service/servers/%i '{\"URL\": \"${SERVICE_ADDRESS}\"}' --ttl 30; \
            etcdctl set /vulcand/backends/gainmaster-body-measurement-service/backend '{\"Type\": \"http\"}' --ttl 30; \
            etcdctl set /vulcand/frontends/gainmaster-body-measurement-service/frontend \
                '{ \
                    "Type": "http", \
                    "BackendId": "gainmaster-body-measurement-service", \
                    "Route": \"Host(`api.${GAINMASTER_DOMAIN}`) && PathRegexp(`/users/(.*)/measurements(.*)`)" \
                }' --ttl 30; \
        else \
            etcdctl rm /vulcand/backends/gainmaster-body-measurement-service/servers/%i; \
        fi; \
        sleep 20; \
    done"

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/gainmaster-body-measurement-service/servers/%i; \
    rm /tmp/gainmaster_body_measurement_service_env_%i;"

[X-Fleet]
MachineOf=gainmaster-body-measurement-service@%i.service
