[Unit]
Description=SkyDNS service

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStartPre=/usr/bin/docker pull skynetservices/skydns

ExecStart=/usr/bin/docker run -rm --name skydns.%i \
  -p ${PUBLIC_IPV4}:53:53 \
  skynetservices/skydns

ExecStop=/usr/bin/docker stop skydns

[Install]
WantedBy=multi-user.target