[Unit]
Description=SkyDNS %i authorative server

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Conflicts=skydns@*.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill skydns.%i
ExecStartPre=-/usr/bin/docker rm skydns.%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/jenkins

ExecStart=/usr/bin/docker run --rm --name skydns.%i \
  -e "ETCD_MACHINES=http://$${PRIVATE_IPV4}:4001" \
  -e "SKYDNS_ADDR=0.0.0.0:53" \
  -e "SKYDNS_DOMAIN=%i" \
  -p 53:53/udp \
  -p 53:53/tcp \
  skynetservices/skydns

ExecStop=/usr/bin/docker stop skydns.%i