[Unit]
Description=Store the systems public and private IP-addresses to a environment file

[Service]
Type=simple
ExecStart=/bin/bash -c "\
  echo PRIVATE_IPV4=$(ifconfig | grep 'inet ' | cut -d: -f2 | awk 'NR == 1 {print $2}') > /etc/systemd/network/environment; \
  echo PUBLIC_IPV4=$(ifconfig | grep 'inet ' | cut -d: -f2 | awk 'NR == 2 {print $2}') >> /etc/systemd/network/environment;"

[Install]
WantedBy=multi-user.target