[Unit]
Description=Register Jenkins CI master service id %i to Vulcand

Requires=etcd.service
After=etcd.service

Requires=registrator.service
After=registrator.service

BindsTo=jenkins-master@%i.service
After=jenkins-master@%i.service

[Service]
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

# Start
ExecStartPre=/usr/bin/bash -c '\
  until (/usr/bin/etcdctl get /registrator/jenkins-master/%i); do \
    sleep 3; \
  done'

ExecStart=/usr/bin/bash -c '\
  JENKINS_ADDRESS=http://$(/usr/bin/etcdctl get /registrator/jenkins-master/%i); \
  exec "/usr/bin/etcdctl" "set" "/vulcand/backends/jenkins/servers/jenkins-%i" "{\"URL\": \"$JENKINS_ADDRESS\"}"'

ExecStartPost=/usr/bin/etcdctl set /vulcand/backends/jenkins/backend '{"Type": "http"}'
ExecStartPost=/usr/bin/etcdctl set /vulcand/frontends/jenkins/frontend '{"Type": "http", "BackendId": "jenkins", "Route": "Host(`jenkins.hesjevik.im`)"}'

# Stop
ExecStop=/bin/etcdctl rm /vulcand/backends/jenkins/servers/jenkins-%i

ExecStopPost=/usr/bin/bash -c '\
  JENKINS_STATUS=$(curl -f -s -I jenkins.hesjevik.im | grep HTTP/1.1); \
  if [ -z "$JENKINS_STATUS" ]; then \
      /usr/bin/etcdctl rm /vulcand/backends/jenkins --recursive; \
      /usr/bin/etcdctl rm /vulcand/frontends/jenkins --recursive; \
  fi'

[X-Fleet]
MachineOf=jenkins-master@%i.service