[Unit]
Description=Jenkins CI master service id %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=registrator.service
After=registrator.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill jenkins-slave-%i
ExecStartPre=-/usr/bin/docker rm jenkins-slave-%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/dind

ExecStart=/usr/bin/docker run --rm -i --privileged --name jenkins-slave-%i \
  -v ${SHARED_DATA}/jenkins/master/jobs/%i/workspace:/tmp/workspace \
  -e SERVICE_NAME=jenkins-slave \
  -e SERVICE_ID=%i \
  -w="/tmp/workspace" \
  bachelorthesis/dind

ExecStop=/usr/bin/docker stop jenkins-slave-%i

[X-Fleet]
Conflicts=jenkins-slave@%i.service