[Unit]
Description=Jenkins CI master service id %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=registrator.service
After=registrator.service

Requires=jenkins-master-registrator@%i.service
Before=jenkins-master-registrator@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/metadata

ExecStartPre=-/usr/bin/docker kill jenkins-master
ExecStartPre=-/usr/bin/docker rm jenkins-master
ExecStartPre=/usr/bin/docker pull bachelorthesis/jenkins

ExecStart=/usr/bin/docker run --rm --name jenkins-master \
  -v ${SHARED_DATA}/jenkins/master:/var/lib/jenkins \
  -p ${PRIVATE_IPV4}::8080 \
  -e SERVICE_NAME=jenkins-master \
  -e SERVICE_ID=%i \
  bachelorthesis/jenkins

ExecStartPost=/usr/bin/bash -c '\
  until (/usr/bin/etcdctl get /registrator/jenkins-master/%i); do \
    sleep 3; \
  done; \
  echo JENKINS_ADDRESS=http://$(/usr/bin/etcdctl get /registrator/jenkins-master/1) > /tmp/jenkins_master_env'

ExecStop=/usr/bin/docker stop jenkins-master

[X-Fleet]
Conflicts=jenkins-master@*.service