[Unit]
Description=Register jenkins at port %i
BindsTo=jenkins@%i.service
After=jenkins@%i.service

Requires=etcd.service
After=etcd.service

[Service]
EnvironmentFile=/etc/metadata
RemainAfterExit=yes

ExecStart=/usr/bin/bash -c "\
  /bin/etcdctl set /vulcand/backends/jenkins/backend '{\"Type\":\"http\"}'; \
  /bin/etcdctl set --ttl 5 /vulcand/backends/jenkins/servers/jenkins-%i '{\"URL\": \"http://${PUBLIC_IPV4}:%i\"}'; \
  /bin/etcdctl set /vulcand/frontends/jenkins/frontend '{\"Type\": \"http\", \"BackendId\": \"jenkins\", \"Route\": \"Host(`jenkins.hesjevik.im`)\"}'"

ExecStop=/bin/etcdctl rm /vulcand/backends/jenkins/servers/jenkins-%i

[X-Fleet]
MachineOf=jenkins@%i.service