[Unit]
Description=Jenkins CI slave service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=no

EnvironmentFile=/etc/coreos_metadata

ExecStartPre=-/usr/bin/docker kill jenkins-slave-%i
ExecStartPre=-/usr/bin/docker rm jenkins-slave-%i
ExecStartPre=/usr/bin/docker pull gainmaster/jenkins:slave

ExecStart=/usr/bin/docker run --rm -i --privileged --name jenkins-slave-%i \
    -v ${SHARED_DATA}/jenkins/master/jobs/%i/workspace:/jenkins-workspace \
    -v /usr/bin/docker:/usr/bin/docker \
    -v /usr/libexec/docker/dockerinit:/usr/libexec/docker/dockerinit \
    -e SERVICE_NAME=jenkins-slave \
    -e SERVICE_ID=%i \
    -e PORT=2375 \
    -p ${PRIVATE_IPV4}::2375 \
    -w="/jenkins-workspace" \
    gainmaster/jenkins:slave

ExecStop=/usr/bin/docker stop jenkins-slave-%i

[X-Fleet]
Conflicts=jenkins-slave@%i.service