[Unit]
Description=Register Jenkins CI master service instance %i in SkyDNS and Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=jenkins-master@%i.service
After=jenkins-master@%i.service

[Service]
EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata

ExecStart=/usr/bin/bash -c "\
    until (etcdctl get /registrator/jenkins-master/%i); do \
        sleep 3; \
    done; \
    while true; do \
        curl -f http://$(etcdctl get /registrator/jenkins-master/1); \
        if [ $? -eq 0 ]; then \
            etcdctl set /skydns/im/hesjevik/ci/node '{\"host\": \"http.service.${GAINMASTER_DOMAIN}\"}' --ttl 30; \
            etcdctl set /vulcand/frontends/jenkins-master/frontend '{\"Type\": \"http\", \"BackendId\": \"jenkins-master\", \"Route\": \"Host(\`ci.${GAINMASTER_DOMAIN}\`)\"}' --ttl 30; \
            etcdctl set /vulcand/backends/jenkins-master/backend '{\"Type\": \"http\"}' --ttl 30; \
            etcdctl set /vulcand/backends/jenkins-master/servers/1 '{\"URL\": \"http://$(etcdctl get /registrator/jenkins-master/1)\"}' --ttl 30; \
        else \
            etcdctl rm /vulcand/backends/jenkins-master/servers/1; \
        fi; \
        sleep 20; \
    done"

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/jenkins-master/servers/%i; \
    sleep 10; \
    SERVICE_INSTANCES=$(etcdctl ls /registrator/jenkins-master | wc -l); \
    if [ $SERVICE_INSTANCES -eq 0 ]; then \
        etcdctl rm /skydns/${GAINMASTER_SKYDNS_DOMAIN_PATH}/ci --recursive; \
        etcdctl rm /vulcand/backends/jenkins-master --recursive; \
        etcdctl rm /vulcand/frontends/jenkins-master --recursive; \
    fi"

[X-Fleet]
MachineOf=jenkins-master@%i.service








