[Unit]
Description=Vulcand HTTP service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=vulcand-registrator@%i.service
Before=vulcand-registrator@%i.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata

ExecStartPre=-/usr/bin/docker kill vulcand-%i
ExecStartPre=-/usr/bin/docker rm vulcand-%i
ExecStartPre=/usr/bin/docker pull mailgun/vulcand:v0.8.0-beta.3

ExecStart=/usr/bin/docker run --rm \
    --name vulcand-%i \
    --env SERVICE_NAME=vulcand \
    --env SERVICE_ID=%i \
    --publish 80:80 \
    mailgun/vulcand:v0.8.0-beta.3 \
        /go/bin/vulcand -port=80 --etcd=http://${PRIVATE_IPV4}:4001

ExecStop=/usr/bin/docker stop vulcand-%i

[X-Fleet]
Conflicts=vulcand@*.service
