[Unit]
Description=Gainmaster User Service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

Requires=gainmaster-user-service-vulcand-registrator@%i.service
Before=gainmaster-user-service-vulcand-registrator@%i.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata

ExecStartPre=-/usr/bin/docker kill gainmaster-user-service-%i
ExecStartPre=-/usr/bin/docker rm gainmaster-user-service-%i
ExecStartPre=/usr/bin/docker pull gainmaster/gainmaster-user-service

ExecStart=/usr/bin/docker run --rm \
  --name gainmaster-user-service-%i \
  --env SERVICE_NAME=gainmaster-user-service \
  --env SERVICE_ID=%i \
  --publish ${PRIVATE_IPV4}::8080 \
  gainmaster/gainmaster-user-service

ExecStartPost=/usr/bin/bash -c '\
  until (etcdctl get /registrator/gainmaster-user-service/%i); do \
    sleep 3; \
  done; \
  echo SERVICE_ADDRESS=http://$(etcdctl get /registrator/gainmaster-user-service/%i) > /tmp/gainmaster_user_service_env_%i'

ExecStop=/usr/bin/docker stop gainmaster-user-service-%i

[X-Fleet]
Conflicts=gainmaster-user-service@*.service
