[Unit]
Description=Register Gainmaster User Service instance %i to Vulcand

Requires=etcd.service
After=etcd.service

BindsTo=gainmaster-user-service@%i.service
After=gainmaster-user-service@%i.service

[Service]
EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata
EnvironmentFile=/tmp/gainmaster_user_service_env_%i

ExecStart=/usr/bin/bash -c "\
    while true; do \
        curl -f ${SERVICE_ADDRESS}; \
        if [ $? -ne 7 ]; then \
            etcdctl set /vulcand/backends/gainmaster-user-service/servers/%i '{\"URL\": \"${SERVICE_ADDRESS}\"}' --ttl 30; \
            etcdctl set /vulcand/backends/gainmaster-user-service/backend '{\"Type\": \"http\"}' --ttl 30; \
            etcdctl set /vulcand/frontends/gainmaster-user-service/frontend \
                '{ \
                    \"Type\": \"http\", \
                    \"BackendId\": \"gainmaster-user-service\", \
                    \"Route\": \"Host(`api.${GAINMASTER_DOMAIN}`) && PathRegexp(`/users(/?)[^/]*`)\" \
                }' --ttl 30; \
        else \
            etcdctl rm /vulcand/backends/gainmaster-user-service/servers/%i; \
            SERVICE_INSTANCES=$(etcdctl ls /vulcand/backends/gainmaster-user-service/servers | wc -l); \
            if [ $SERVICE_INSTANCES -eq 0 ]; then \
                etcdctl rm /vulcand/frontends/gainmaster-user-service/frontend; \
                etcdctl rm /vulcand/backends/gainmaster-user-service/backend; \
                etcdctl rm /vulcand/backends/gainmaster-user-service/servers --recursive; \
            fi; \
        fi; \
        sleep 20; \
    done"

ExecStop=/usr/bin/bash -c "\
    etcdctl rm /vulcand/backends/gainmaster-user-service/servers/%i; \
    SERVICE_INSTANCES=$(etcdctl ls /vulcand/backends/gainmaster-user-service/servers | wc -l); \
    if [ $SERVICE_INSTANCES -eq 0 ]; then \
        etcdctl rm /vulcand/frontends/gainmaster-user-service/frontend; \
        etcdctl rm /vulcand/backends/gainmaster-user-service/backend; \
        etcdctl rm /vulcand/backends/gainmaster-user-service/servers --recursive; \
    fi; \
    rm /tmp/gainmaster_user_service_env_%i;"

[X-Fleet]
MachineOf=gainmaster-user-service@%i.service
