[Unit]
Description=RabbitMQ message broker service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata

ExecStartPre=-/usr/bin/docker kill rabbitmq-%i
ExecStartPre=-/usr/bin/docker rm rabbitmq-%i
ExecStartPre=/usr/bin/docker pull gainmaster/rabbitmq

#TODO: Load username and password from etcd
#TODO: Load cookie from etcd
ExecStart=/usr/bin/docker run --rm \
	-e HOSTNAME=rabbitmq-%i.amqp.service.hesjevik.im \
 	-e RABBITMQ_USE_LONGNAME=true \
    --name rabbitmq-%i \
    --env SERVICE_NAME=rabbitmq \
    --env SERVICE_ID=%i \
    --publish 4369:4369 \
    --publish 5672:5672 \
    --publish 15672:15672 \
    --publish 35197:35197 \
    gainmaster/rabbitmq

ExecStop=/usr/bin/docker stop rabbitmq-%i

[X-Fleet]
Conflicts=rabbitmq@*.service
