[Unit]
Description=MariaDB service instance %i

Requires=etcd.service
After=etcd.service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
KillMode=none
Restart=always
RestartSec=10s

EnvironmentFile=/etc/coreos_metadata
EnvironmentFile=/etc/gainmaster_metadata

ExecStartPre=-/usr/bin/docker kill mariadb-%i
ExecStartPre=-/usr/bin/docker rm mariadb-%i
ExecStartPre=/usr/bin/docker pull bachelorthesis/mariadb:mariadb-galera

ExecStart=/usr/bin/docker run --rm \
    --name mariadb-%i \
    --volume /data/mysql:/var/lib/mysql \
    --env SERVICE_NAME=mariadb \
    --env SERVICE_ID=%i \
    --env CLUSTER_DOMAIN_NAME=mysql.${GAINMASTER_DOMAIN}
    --publish 3306:3306 \
    bachelorthesis/mariadb:mariadb-galera

ExecStop=/usr/bin/docker stop mariadb-%i

[X-Fleet]
Conflicts=mariadb@*.service
